html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 65px;
    padding-bottom: 285px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 285px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
    /* [disabled]margin: auto;
*/
    color: #FFFFFF;
}

.navbar ul {
    text-align: left;
}

#topFixedNavbar1 {
}

table.table {
    margin-top: 30px;
}

.navbar-default {
    background-color: hsla(0, 0%, 98%, 0.93);
    border-color: #e1e1e1;
}

.navbar-default .navbar-brand {
    color: #3c873e;
    background-image: url(../images/innovalogo3solocoloreado.png);
    background-repeat: no-repeat;
    background-position: 8px 6px;
    background-size: auto 40px;
    min-width: 150px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #672121;
}

.navbar-default .navbar-text {
    color: #3c873e;
}

.navbar-default .navbar-nav > li > a {
    color: #3c873e;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #672121;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #672121;
    background-color: #e1e1e1;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #672121;
    background-color: #e1e1e1;
}

.navbar-default .navbar-toggle {
    border-color: #e1e1e1;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #e1e1e1;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3c873e;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3c873e;
}

.navbar-default .navbar-link {
    color: #3c873e;
}

.navbar-default .navbar-link:hover {
    color: #672121;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #3c873e;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #672121;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #672121;
        background-color: #e1e1e1;
    }

    #informacion1 {
        text-align: center;
    }

    #informacion1 .vacio p {
        min-height: 800px;
    }

    #informacion1 ul {
        display: table;
        margin: 0 auto;
    }

    h1 span {
        display: block;
    }

    body {
        padding-top: 70px;
        padding-bottom: 23em;
    }

    .navbar ul {
        /* [disabled]list-style-position:outside;
    */
        text-align: center; /*list-style:none;*/
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 21em;
        background-image: -webkit-linear-gradient(270deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
        background-image: -moz-linear-gradient(270deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
        background-image: -o-linear-gradient(270deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
        background-image: linear-gradient(180deg, rgba(0, 84, 124, 1.00) 0%, rgba(60, 124, 166, 1.00) 100%);
        margin: auto;
        color: #FFFFFF;
        text-align: center;
    }

    .footer ul {
        display: table;
        margin: 0 auto;
    }

    #mapa {
        display: none;
    }
}

#hereditarias .unidadimg {
    content: '';
    background-image: url("/images/log-verde.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#neoplasticas .unidadimg {
    content: '';
    background-image: url("/images/log-naranja.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#cmolecular .unidadimg {
    content: '';
    background: url("/images/log-azul.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#hmalignas .unidadimg {
    content: '';
    background: url("/images/log-rojo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#aptidi .unidadimg {
    content: '';
    background: url("/images/log-gris.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#unidad {
}

#hereditarias {
}

#informacion1 {
}

#informacion1 li {
    text-align: left;
}

#informacion1 h2 {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

#informacion1 p {
    font-size: 12px;
    text-align: justify;
}

#informacion1 article {
    padding: 40px 0px;
}

#informacion1 h1 {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

#informacion2 h1 {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

#informacion2 h2 {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.unidad {
}

.unidadimg {
    height: 60px;
    width: 62px;
    margin: 10px auto;
    display: block;
}

#contacto p {
    margin: auto;
    font-size: 16px;
}

#contacto .h2 {
    margin: auto;
}

#contacto .h3 {
    margin: auto;
}

#contacto a {
    color: white;
}

.google-maps {
    position: relative;
    padding-bottom: 66%; /*Aspect Ratio*/
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 100% !important;
    height: 100% !important;
}

#mapa {
    margin-top: 1em;
    width: 100%;
    height: 17em;
}

#mibuscador {
    background-image: url('../images/search.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    background-size: 24px auto;
    border-radius: 10px;
}

.buscadorjs {
    background-image: url('../images/search.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    /* margin-bottom: 12px; Add some space below the input */
    background-size: 24px auto;
    border-radius: 10px;
}

.buscadorjs.noform {
    margin-top: 25px;

}

/*#miTabla tbody {
	display: block;
	width: 100%;
}
#miTabla tbody {
	height: 400px;
	overflow-y: auto;
}*/

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 480px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    /*    width: 20%;
    */
    float: left;
}

table.pariente {
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */


    border-collapse:separate;
    border-radius:7px;
    -moz-border-radius:7px;

}

.pariente.header-fixed > tbody {
    overflow-y: auto;
    height: 200px;
}

table.pariente th, table.pariente tr {
    text-align: center; /* Left-align text */
    /*padding: 12px; Add padding */

}

table.pariente tr.header, table.pariente tr:hover {
    background-color: #f1f1f1;
}

table.ganados {
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    margin-top: 10px;

    border-collapse:separate;
    border-radius:7px;
    -moz-border-radius:7px;

}

.ganados.header-fixed > tbody {
    overflow-y: auto;
    height: 450px;
}

table.ganados th, table.ganados tr {
    text-align: center; /* Left-align text */
    /*padding: 12px; Add padding */

}

table.ganados tr.header, table.ganados tr:hover {
    background-color: #f1f1f1;
}

#miTabla {
    /* border-collapse: collapse; Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */


    border-collapse:separate;
    border-radius:7px;
    -moz-border-radius:7px;
}

#miTabla th, #miTabla td {
    text-align: center; /* Left-align text */
}

#miTabla tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#miTabla tr.header, #miTabla tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#enfermedad h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;

}

#enfermedad h2 {
    font-weight: 400;
    font-size: 36px;
}

#enfermedad p {
    font-size: 15px;
    text-align: justify;
}

/* LOGIN STYLE*/

#login-form {
    padding-top: 60px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 110px;
}

#login-form .modal-body #div-login-msg {
    padding-bottom: 40px;
}

#login-form .login-img {
    content: '';
    background: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    display: block;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#register-form input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    /*    border: 1px solid #dadfe1;
    */
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    /*border-radius: 0px;*/
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    /*border-radius: 0px;*/
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg > .btn {
    /*border-radius: 0px;*/
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
    /*border-radius: 0px;*/
}

.btn-excel {
    color: #ffffff;
    background-color: #23673D;
    border-color: #19942B;
}

.btn-excel:hover,
.btn-excel:focus,
.btn-excel:active,
.btn-excel.active,
.open .dropdown-toggle.btn-excel {
    color: #ffffff;
    background-color: #287D49;
    border-color: #19942B;
}

.btn-excel:active,
.btn-excel.active,
.open .dropdown-toggle.btn-excel {
    background-image: none;
}

.btn-excel.disabled,
.btn-excel[disabled],
fieldset[disabled] .btn-excel,
.btn-excel.disabled:hover,
.btn-excel[disabled]:hover,
fieldset[disabled] .btn-excel:hover,
.btn-excel.disabled:focus,
.btn-excel[disabled]:focus,
fieldset[disabled] .btn-excel:focus,
.btn-excel.disabled:active,
.btn-excel[disabled]:active,
fieldset[disabled] .btn-excel:active,
.btn-excel.disabled.active,
.btn-excel[disabled].active,
fieldset[disabled] .btn-excel.active {
    background-color: #23673D;
    border-color: #19942B;
}

.btn-excel .badge {
    color: #23673D;
    background-color: #ffffff;
}

input[type="file"] {
    display: none;
}

.form-inline {
    display: inline;
}

.dropzone {

}

.dropzone.dragover {
    border-radius: 15px;
    border: 4px dashed #19942B;
    border-color: #19942B;
    background-color: #dadfe1;

    /*color: #19942B;*/

}

.dropzone.dragover img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.titulodrop {

    text-align: center;
    align-content: center;
    vertical-align: middle;

}









.tree{
}
.tree ul {
    padding-top: 20px; position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.t

div .cuadro-gan{
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

div .cuadro-gan img{
    width: 250px;
}
div .cuadro-gan h2{
    display: block;
}
.cuadropan{
    margin-top: 25px;
}
.cuadropan img{
    width: 250px;
}